<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.CurrentGame}} on #{{.ChannelName}}</title>
        <style>{{.Style}}</style>
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none">&lt;</a>Scoreboard</h1>
        <form method="get">
            <select onchange="window.location.href=this.value">
                {{range $index, $game := .Games}}
                <option 
                    {{if eq $game $.CurrentGame}}selected{{end}}
                    value="/c/{{$.ChannelID}}?game={{.}}">{{.}}</option>
                {{end}}
            </select> on {{.ChannelName}}
            <noscript>
                <input type="submit" value="Go">
            </noscript>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Games</th>
                    <th>Lowest</th>
                    <th>Average</th>
                    <th>Highest</th>
                </tr>
            </thead>
            <tbody>
                {{range .Stats}}
                <tr>
                    <td><a href="/u/{{.Username}}">{{.Username}}</a></td>
                    <td>{{.Count}}</td>
                    <td>{{.Lowest}}</td>
                    <td>{{ printf "%0.2f" .Average }}</td>
                    <td>{{.Highest}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>