<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.AppFullName}}</title>
        <style>
            {{.Style}}
        </style>
    </head>
    <body>
        <h1>Mindari</h1>
        <caption>Word Games Bot</caption>
        <p>Never lose track of your Wordle scores again! Simply share your scores in any channel Mindari has access to, and she will automatically log and track it. No setup needed!</p>
        <a class="btn btn-primary" target="_blank" href="https://discord.com/oauth2/authorize?client_id=1341868814001901689">Invite Mindari to Your Server</a>
        <div style="display: flex; align-items: center; gap: 8px; padding: 0 4px">
            <div style="height: 1px; background-color: #D1D5DB; flex: 1;"></div>
            <div style="font-weight: 500;">OR</div>
            <div style="height: 1px; background-color: #D1D5DB; flex: 1;"></div>
        </div>
        <form>
            <label>Find My Scores</label>
            <div style="display: flex; align-items: center; gap: 8px;">
                <div style="flex: 1;">
                    <input style="width: 100%;" name="q" placeholder="Channel or user name" type="search">
                </div>
                <div><input type="submit" value="Search"></div>
            </div>
        </form>
        <h2>Recent Scores</h2>
        <div>
            {{ range $index, $score := .Scores }}
            <div style="display: flex; justify-content: space-between">
                <div>
                    <b>{{ $score.Score }}</b> | <a href="/channel?id={{ $score.ChannelID }}&game={{ $score.Game }}">{{ $score.Game }}</a> #{{ $score.GameNumber }}
                </div>
                <div>
                    <a href="/user?name={{ $score.Username }}&game={{ $score.Game }}">{{ $score.Username }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    </body>
</html>