<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Results</title>
        <style>
            {{.Style}}
        </style>
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none">&lt;</a>Search Results</h1>
        <form>
            <div style="display: flex; align-items: center; gap: 8px;">
                <div style="flex: 1;">
                    <input style="width: 100%;" name="q" value={{.Query}} placeholder="Channel or user name" type="search">
                </div>
                <div><input type="submit" value="Search"></div>
            </div>
        </form>
        <div>
            {{ range $index, $result := .Results }}
            <div style="display: flex; justify-content: space-between">
                <div>
                    {{ if eq $result.Type "channel" }}
                    <a href="/c/{{ $result.ID }}">{{ $result.Name }}</a>
                    {{ else }}
                    <a href="/u/{{ $result.ID }}">{{ $result.Name }}</a>
                    {{ end }}
                </div>
                <div>
                    {{ $result.Type }}
                </div>
            </div>
            {{ end }}
        </div>
    </body>
</html>