
:root { --bkgd-color: #eee; --btn-color: #0051d2; --link-color: #00e; --hist-color: #551a8b; --text-color: #444; }
@media (prefers-color-scheme: dark) {
    :root { --bkgd-color: #0d1117; --link-color: #58a6ff; --hist-color: #8e96f0; --text-color: #c9d1d9; }
}
a:link { color: var(--link-color); }
a:visited { color: var(--hist-color); }
body { max-width: 650px; margin: 40px auto; padding: 0 10px; }
body { color: var(--text-color); background-color: var(--bkgd-color) }
body { font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
h1, h2, h3 { line-height: 1.2; margin: 0; }
th { padding-right: 1rem; }
.link-button { min-width: 44px; min-height: 44px; }
select { border: 1px solid var(--text-color); border-radius: 4px; }
select { background-color: var(--btn-color); color: var(--text-color); font-size: 1.125rem; }
.btn { display: block; text-align: center; text-decoration: none; padding: 8px; border-radius: 8px; }
.btn-primary:link { color: white; background-color: #4245cd; }
.btn-primary:visited { color: white; background-color: #6c76e9; }
