<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.CurrentGame}} - {{.Username}}</title>
        <style>{{.Style}}</style>
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none">&lt;</a>Game History</h1>
        <form method="get">
            <div style="display: flex; flex-direction: column; gap: 4px">
                <div>
                    <select name="game" onchange="this.form.submit()">
                        {{range $index, $game := .Games}}
                        <option 
                            {{if eq $game $.CurrentGame}}selected{{end}}
                            value="{{.}}">{{.}}</option>
                        {{end}}
                    </select> for {{.Username}}
                </div>
                <div style="display: gap: 4px">
                    <input type="date" name="from" value="{{.DateStart}}" onchange="this.form.submit()" />
                    <input type="date" name="to" value="{{.DateEnd}}" onchange="this.form.submit()" />
                </div>
            </div>
            <noscript>
                <input type="submit" value="Go">
            </noscript>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Game #</th>
                    <th>Score</th>
                    <th>Posted On</th>
                </tr>
            </thead>
            <tbody>
                {{range .Scores}}
                <tr>
                    <td>{{.GameNumber}}</td>
                    <td>{{.Score}}</td>
                    <td><a href="/c/{{.ChannelID}}?game={{.Game}}">{{.Game}}</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>