<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.CurrentGame}} - {{.Username}}</title>
        <style>{{.Style}}</style>
    </head>
    <body>
        <h1><a href="/" style="text-decoration: none">&lt;</a>Game History</h1>
        <form method="get">
            <div style="display: flex; flex-direction: column; gap: 4px">
                <div>
                    <select name="game" onchange="this.form.submit()">
                        {{range $index, $game := .Games}}
                        <option 
                            {{if eq $game $.CurrentGame}}selected{{end}}
                            value="{{.}}">{{.}}</option>
                        {{end}}
                    </select> 
                    for 
                    <select name="name" onchange="this.form.submit()">
                        {{range $index, $friend := .Friends}}
                        <option 
                            {{if eq $friend $.Username}}selected{{end}}
                            value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
                <div style="display: gap: 4px">
                    <input type="date" name="from" value="{{.DateStart}}" onchange="this.form.submit()" /> to
                    <input type="date" name="to" value="{{.DateEnd}}" onchange="this.form.submit()" />
                </div>
            </div>
            <noscript>
                <input type="submit" value="Go">
            </noscript>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Game #</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{range .Scores}}
                <tr>
                    <td>{{.GameNumber}}</td>
                    <td>{{.Score}}</td>
                    <td>
                    <div class="bar-container">
                        {{ if (eq .Win "Y") }}
                        <div class="bar-element" style="width: calc({{.Score}} / {{$.BarMax}} * 100%); background-color: #4CAF50;" />
                        {{ else }}
                        <div class="bar-element" style="width: calc({{.Score}} / {{$.BarMax}} * 100%); background-color: #CD5C5C;" />
                        {{ end }}
                    </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>